:root {
    --accent-color: #2196F3;
    --headers-color: #212121;
    --text-color: #757575;
    --background-whitetext-color: #FFFFFF;
    --background-grey-color: #F5F4FA;
    --background-durk-color: #2F303A;
    --footer-contact-color:  rgba(255, 255, 255, 0.6);
    --social-icons0color: #AFB1B8;;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
           /* утилиты................... */
h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headers-color);
}

       /* глобальные стили и сбросы стилей */
body {
    color: var(--text-color);

    font-family: "Roboto", sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
}


.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.link{
    text-decoration: none;
}

                    /* основые стили */

/* навигация хедера */
.main-nav{
    display: flex;
    align-items: center;
    
    
}

/* логотип компании */


.logo-accent{
    color: var(--accent-color);
}

.logo{
    color: var(--headers-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 

    display: inline-block;
    margin-top: 24px;
    margin-bottom: 25px;
     
}
.site-nav{
    display: inline-flex;
    margin-left: 93px;
    
}
.auth-nav{
    display: inline-flex;
    margin-left: auto;
}
.menu-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14; 
}

.menu-item:not(:last-child){
    margin-right: 50px;
}

/* навигация ссылок */
.link-nav {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;

    color: var(--headers-color);


}
.current{
    color: var(--accent-color);
}
.link-nav:hover,
.link-nav:focus {
    color: var(--accent-color);
}
.link-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    color: inherit;
}
.link-contact:hover,
.link-contact:focus {
    color: var(--accent-color);
}
.social-icons-mail{
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;   
}

.social-icons-mobile{
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;

}



                 /* стили героя */
                 
.hero-image{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url(../image/Герой.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
}


.content-box {
    text-align: center;
}
.hero{
    background-color: var(--background-durk-color);
    padding-top: 200px;
    padding-bottom: 200px;
    
}

.hero-content{
    text-align: center;
}
.hero-header{
     color: var(--background-whitetext-color);

    margin-bottom: 30px;
    max-width: 696px;
    
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
}

.hero-button{
    color: var(--background-whitetext-color);
    background-color: aqua;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;


    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    text-align: center;
    letter-spacing: 0.06em;

    
}
.hero-button:focus,
.hero-button:hover {
    background-color: var(--accent-color);
}
.hero-button{
    cursor: pointer;
}


            /* стили плюсов компании */

.stronges-cotainer{
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-stronges{
    display: flex;
}

.stronges-item:not(:last-child){
    margin-right: 30px;
}

.page-stronges {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;


    margin-bottom: 10px;
}



.text-strong {
    color: var(--text-color);


    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.grey-box{
    display: flex;
    width: 270px;
    height: 120px;
    background-color: var(--background-grey-color);
    margin-bottom: 30px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}


/* секция чем мы занимаемся */


.whatwedo-container{
    padding-bottom: 94px;
}
.whatwedo-list{
    display: flex;
}
.whatwedo-item:not(:last-child){
    margin-right: 30px;
}


.what-we-do{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    
    margin-bottom: 50px;
}


/* секция наша команда */

.team-container{
    padding-bottom: 94px;
}

.team-item{
    background-color: var(--background-whitetext-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team{
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    padding-top: 94px;
    margin-bottom: 50px;

}

.team-list{
    display: flex;
    
}
.team-item:not(:last-child){
    margin-right: 30px;
}

.our-team {
    background-color: var(--background-grey-color);
}

.team-names{

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18; 
    text-align: center;

    margin-top: 30px;
    margin-bottom: 10px;
}



.team-position{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 16px;
}
.social-list{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.social-item:not(:last-child){
    margin-right: 10px;
}
.social-icons-svg{
    width: 20px;
    height: 20px;
    fill: var(--social-icons0color);
}
.social-icons-circle:hover .social-icons-svg,
.social-icons-circle:focus .social-icons-svg{
    fill: var(--background-whitetext-color);
}
.social-icons-circle{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}
.social-icons-circle:hover,
.social-icons-circle:focus{
    background-color: var(--accent-color);
}

         /* секция постоянные клиенты */

.client-contaner{
    padding: 94px 0;
}
.client-title{ 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
.company-list{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.company-item:not(:last-child){
    margin-right: 30px;
}
.client-box{
    width: 170px;
    height: 90px;
    border: 1px solid var(--social-icons0color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-company{
    fill: var(--social-icons0color);
}
.client-box:hover .client-company,
.client-box:focus .client-company,
.client-box:hover .client-company,
.client-box:focus .client-company {
    fill: var(--accent-color);
}
.client-box:hover,
.client-box:focus {
    border: 1px solid var(--accent-color);
}

/* секция футера */
.footer{
    background-color: var(--background-durk-color);
}
.logo-footer{
    color: var(--background-whitetext-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    display: inline-block;

    margin-bottom: 20px;
    
}

.adress-text{
    color: var(--background-whitetext-color);
}
.address-list {
    font-style: normal;
}
.link-footer{
    color: var(--footer-contact-color)
}
.adress-text:hover,
.adress-text:focus {
    color: var(--accent-color);
}
.link-footer:hover,
.link-footer:focus {
    color: var(--accent-color);
}
.footer-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

}
.footer-item:not(:last-child){
    margin-bottom: 9px;
}
.footer-container{
    padding-top: 60px;
    padding-bottom: 60px;
}
.wrapper{
    display: flex;
}
.join{
    margin-left: 70px;
    margin-right: auto;
}
.join-title{ 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
    
    color: var(--background-whitetext-color);
}
.join-list{
    display: flex;
}
.join-item:not(:last-child){
    margin-right: 10px;
}
.join-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
.join-svg{
    width: 20px;
    height: 20px;
    fill: var(--background-whitetext-color);
}
.join-circle:hover,
.join-circle:focus {
    background-color: var(--accent-color);
}

/*////////////////// стили портфолио //////////////////// */

.portfolio {
    padding: 94px 0px;
}

.flex-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.button-item:not(:last-child){
    margin-right: 8px;
}



.portfolio-button{
    color: var(--headers-color);
    background-color: var(--background-grey-color);

    padding: 6px 22px;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.portfolio-button:hover,
.portfolio-button:focus{
    color: var(--background-whitetext-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-button {
    cursor: pointer;
}


.wrap-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    
}

.portfolio-photo{
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);

    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.portfolio-photo:hover,
.portfolio-photo:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-image{
    margin-bottom: 20px;
}
.names-galery{
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
    padding-right: 24px;
    padding-left: 24px;

}
.name {
    color: var(--text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    
    padding-right: 24px;
    padding-left: 24px;
}
